/* Các kiểu của bạn */
.pagination {
            position: fixed;
            top: 20px;
            left: 0;
            width: 100%;
            background-color: #f2f2f2;
            padding: 8px 0;
            text-align: center;
        }

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination ul {
    display: inline-block;
    margin-left: auto;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #4CAF50;
    color: white;
}
