<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý danh sách tạm trú</title>
</head>
<body>

<h2>Danh sách Tạm trú</h2>

<a th:href="@{/manager/temporary_resident/create}">Create Temporary Resident</a>

<form th:action="@{/manager/temporary_resident/index}" method="get">
    <label for="keyword">Tìm kiếm:</label>
    <input type="text" id="keyword" name="keyword" th:value="${keyword}"/>

    <label for="startDate">Ngày bắt đầu:</label>
    <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>

    <label for="endDate">Ngày kết thúc:</label>
    <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>

    <button type="submit">Tìm kiếm</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>No Room</th>
        <th>Key Room</th>
        <th>Day In</th>
        <th>Day Out</th>
    </tr>

    <tr th:each="temporaryResident : ${listTemporaryResident.content}">
        <td th:text="${temporaryResident.name}"></td>
        <td th:text="${temporaryResident.id}"></td>
        <td th:text="${temporaryResident.noRoom}"></td>
        <td th:text="${temporaryResident.keyRoom}"></td>
        <td th:text="${temporaryResident.dayIn}"></td>
        <td th:text="${temporaryResident.dayOut}"></td>
    </tr>
</table>

<div class="pagination">
    <span th:if="${currentPage > 1}">
        <a th:href="@{/manager/temporary_resident/index(pageNo=${currentPage - 1}, keyword=${keyword}, dayIn=${dayIn}, dayOut=${dayOut})}">&laquo; Previous</a>
    </span>

    <span th:each="i : ${#numbers.sequence(1, listTemporaryResident.totalPages)}">
        <a th:if="${currentPage != i}" th:href="@{/manager/temporary_resident/index(pageNo=${i}, keyword=${keyword}, dayIn=${dayIn}, dayOut=${dayOut})}" th:text="${i}"></a>
        <span th:if="${currentPage == i}" th:text="${i}"></span>
    </span>

    <span th:if="${currentPage < listTemporaryResident.totalPages}">
        <a th:href="@{/manager/temporary_resident/index(pageNo=${currentPage + 1}, keyword=${keyword}, dayIn=${dayIn}, dayOut=${dayOut})}">Next &raquo;</a>
    </span>
</div>



</body>
</html>