<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p2>Welcome to my world</p2>
    <br>
    <a th:href="@{/manager/temporary_resident/index}">Temporary Resident Manager</a>
    <a th:href="@{/manager/absent_resident/index}">Absent Resident Manager</a>
    <a th:href="@{/manager/index}">Room Manager</a>
    <a th:href="@{/manager/resident/index}">Resident Manage</a>
    <a th:href="@{/manager/fee/index}">Fees Manage</a>
    <a th:href="@{/manager/request/change_information/index}">Request Manager</a>
    <br>
    <a th:href="@{/manager/request/add_resident/index}">Return Back</a>
    <table>
        <thead>
            <th>Số hiệu</th>
            <th>No Room</th>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Birth Place</th>
            <th>Job</th>
            <th>Phone Number</th>
            <th>Relationship with Owner</th>
            <th>Status</th>
        </thead>
        <tbody>
            <th:block th:each="request : ${requests}">
                    <tr>
                        <th th:text="${request.no}"></th>
                        <th th:text="${request.noRoom}"></th>
                        <th th:text="${request.id}"></th>
                        <th th:text="${request.name}"></th>
                        <th th:text="${request.gender}"></th>
                        <th th:text="${request.birthDate}"></th>
                        <th th:text="${request.birthPlace}"></th>
                        <th th:text="${request.job}"></th>
                        <th th:text="${request.phoneNumber}"></th>
                        <th th:text="${request.relationshipWithOwner}"></th>
                        <td th:switch="${request.approved}">
                            <span th:case="'0'">DECLINE</span>
                            <span th:case="'1'">WAITING</span>
                            <span th:case="'2'">APPROVED</span>
                        </td>
                    </tr>
                </th:block>
        </tbody>
    </table>
</body>
</html>