<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p2>Welcome to tue dep trai = "${noRoom}"</p2>
    <br>
    <a th:href="@{/manager/index}">Room Manager</a>
    <a th:href="@{/manager/fee/index}">Fees Manager</a>
    <a th:href="@{/manager/fee/createAll}">CreateAll</a>
    <a th:href="@{/manager/fee/mandatory/multiple_edit}">Edit All</a>
    <a th:href="@{/manager/fee/update}">Update</a>
    <br>
    <a th:href="@{/manager/fee/donation/index}">Donation Fee</a>
    <br>
    <a th:href="@{/manager/history/fee/index}">History Fee</a>
    <br>
    
    <table>
        <thead>
            <th>Year</th>
            <th>Month</th>
            <th>Room</th>
            <th>roomFeePaid</th>
            <th>roomFee</th>
            <th>waterFeePaid</th>
            <th>waterFee</th>
            <th>electricFeePaid</th>
            <th>electricFee</th>
            <th>parkingFeePaid</th>
            <th>parkingFee</th>
        </thead>
        <tbody>
            <th:block th:each="Fee : ${listFees}">
                <tr>
                    <th>[[${Fee.year}]]</th>
                    <th>[[${Fee.month}]]</th>
                    <th>[[${Fee.room.noRoom}]]</th>
                    <th>[[${Fee.roomFeePaid}]]</th>
                    <th>[[${Fee.room.defaultFeeRoom}]]</th>
                    <th>[[${Fee.roomFeePaid}]]</th>
                    <th>[[${Fee.waterFee}]]</th>
                    <th>[[${Fee.electricFeePaid}]]</th>
                    <th>[[${Fee.electricFee}]]</th>
                    <th>[[${Fee.parkingFeePaid}]]</th>
                    <th>[[${Fee.room.defaultParkingFee}]]</th>
                    <td><a th:href="@{'/manager/fee/edit/' + ${Fee.no}}">Edit</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>