<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p2>Welcome to tue dep trai = "${noRoom}"</p2>
    <br>
    <a th:href="@{/manager/index}">Return back</a>
    <br>
    <a th:href="@{/manager/fee/donation/type}">All Type</a>
    <br>
    <a th:href="@{/manager/history/fee/donation/index}">Donation History</a>


    <div class="search-form">
        <!-- tìm kiếm -->
        <form th:action="@{/manager/fee/donation/index}" method="get">
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" name="keyword" placeholder="Enter your search query..."
                th:value="${keyword}" />
            <button type="submit">Search</button>
        </form>
    </div>
    <table>
        <thead>
            <th>Room</th>
            <th>year</th>
            <th>month</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Edit</th>
        </thead>
        <tbody>
            <th:block th:each="Fee : ${listFees}">
                <tr>
                    <th>[[${Fee.room.noRoom}]]</th>
                    <th>[[${Fee.year}]]</th>
                    <th>[[${Fee.month}]]</th>
                    <th>[[${Fee.amount}]]</th>
                    <th>[[${Fee.type}]]</th>
                    <td><a th:href="@{'/manager/fee/donation/edit/' + ${Fee.no}}">Edit</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <div th:if="${totalPage > 0}" class="pagination">
        <!-- Link to the first page -->
        <a th:if="${currentPage > 1}"
            th:href="@{/manager/fee/donation/index(pageNo=1, keyword=${keyword})}">First</a>

        <!-- Link to the previous page -->
        <a th:if="${currentPage > 1}"
            th:href="@{/manager/fee/donation/index(pageNo=${currentPage - 1}, keyword=${keyword})}">Previous</a>

        <!-- Links to individual pages -->
        <span th:each="i : ${#numbers.sequence(1, totalPage)}">
            <a th:if="${currentPage != i}"
                th:href="@{/manager/fee/donation/index(pageNo=${i}, keyword=${keyword})}" th:text="${i}"></a>
            <span th:if="${currentPage == i}" th:text="${i}"></span>
        </span>

        <!-- Link to the next page -->
        <a th:if="${currentPage < totalPage}"
            th:href="@{/manager/fee/donation/index(pageNo=${currentPage + 1}, keyword=${keyword})}">Next</a>

        <!-- Link to the last page -->
        <a th:if="${currentPage < totalPage}"
            th:href="@{/manager/fee/donation/index(pageNo=${totalPage}, keyword=${keyword})}">Last</a>
    </div>
</body>
</html>