<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Resident</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <p2>Welcome to my changeee</p2>
    <br>
    <a th:href="@{/manager/resident/index}">Return Back</a>

    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Birth Date</th>
            <th>Birth Place</th>
            <th>Job</th>
            <th>Phone Number</th>
            <th>Relationship with Owner</th>
        </thead>
        <tbody>
            <tr>
                <th th:text="${Resident.id}"></th>
                <th>
                    <span id="nameValue" th:utext="${Resident.name}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="nameForm">
                        <input type="text" name="name" th:field="*{name}" required />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('name')">Update</button>
                    </form>
                    <button onclick="toggleForm('name')">Edit</button>
                </th>
                <th>
                    <span id="genderValue" th:text="${Resident.gender}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="genderForm">
                        <select name="gender" th:field="*{gender}" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('gender')">Update</button>
                    </form>
                    <button onclick="toggleForm('gender')">Edit</button>
                </th>
                <th>
                    <span id="birthdateValue" th:text="${Resident.birthDate}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="birthdateForm">
                        <input type="date" name="birthDate" th:field="*{birthDate}" required />
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('birthdate')">Update</button>
                    </form>
                    <button onclick="toggleForm('birthdate')">Edit</button>
                </th>
                <th>
                    <span id="birthplaceValue" th:text="${Resident.birthPlace}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="birthplaceForm">
                        <input type="text" name="birthPlace" th:field="*{birthPlace}" required />
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('birthplace')">Update</button>
                    </form>
                    <button onclick="toggleForm('birthplace')">Edit</button>
                </th>
                <th>
                    <span id="jobValue" th:text="${Resident.job}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="jobForm">
                        <input type="text" name="job" th:field="*{job}" required />
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('job')">Update</button>
                    </form>
                    <button onclick="toggleForm('job')">Edit</button>
                </th>
                <th>
                    <span id="phoneNumberValue" th:text="${Resident.phoneNumber}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="phoneNumberForm">
                        <input type="tel" name="phoneNumber" th:field="*{phoneNumber}" required />
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" th:value="${Resident.relationshipWithOwner}" />
                        <button type="submit" onclick="updateField('phoneNumber')">Update</button>
                    </form>
                    <button onclick="toggleForm('phoneNumber')">Edit</button>
                    <span id="relationshipValue" th:text="${Resident.relationshipWithOwner}"></span>
                    <form th:action="@{/manager/changeInfo/{id}/save(id=${id})}" th:object="${Resident}" method="post" class="hidden" id="relationshipForm">
                        <input type="text" name="relationshipWithOwner" th:field="*{relationshipWithOwner}" required />
                        <input type="hidden" name="name" th:field="*{name}" th:value="${Resident.name}" />
                        <input type="hidden" name="gender" th:field="*{gender}" th:value="${Resident.gender}" />
                        <input type="hidden" name="birthDate" th:field="*{birthDate}" th:value="${Resident.birthDate}" />
                        <input type="hidden" name="birthPlace" th:field="*{birthPlace}" th:value="${Resident.birthPlace}" />
                        <input type="hidden" name="job" th:field="*{job}" th:value="${Resident.job}" />
                        <input type="hidden" name="phoneNumber" th:field="*{phoneNumber}" th:value="${Resident.phoneNumber}" />
                        <button type="submit" onclick="updateField('relationship')">Update</button>
                    </form>
                    <button onclick="toggleForm('relationship')">Edit</button>
                </th>
            </tr>
        </tbody>
    </table>

    <script>
        function toggleForm(field) {
            var valueSpan = document.getElementById(field + 'Value');
            var form = document.getElementById(field + 'Form');

            if (valueSpan && form) {
                valueSpan.classList.toggle('hidden');
                form.classList.toggle('hidden');
            }

            if (!form.classList.contains('hidden')) {
                var fieldsToUpdate = ['gender', 'birthdate', 'birthplace', 'job', 'phoneNumber', 'noRoom', 'relationship'];
                fieldsToUpdate.forEach(function (otherField) {
                    if (otherField !== field) {
                        var otherForm = document.getElementById(otherField + 'Form');
                        var residentValue = document.getElementById(otherField + 'Value').innerText;
                        otherForm.querySelector('input').value = residentValue;
                    }
                });
            }
        }

        function updateField(field) {
            var fieldsToUpdate = ['name', 'gender', 'birthdate', 'birthplace', 'job', 'phoneNumber', 'noRoom', 'relationship'];
            fieldsToUpdate.forEach(function (otherField) {
                if (otherField !== field) {
                    var otherForm = document.getElementById(otherField + 'Form');
                    otherForm.querySelector('input').value = document.getElementById(otherField + 'Value').innerText;
                }
            });
        }
    </script>
</body>
</html>
