<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager - Resident Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div align="center">
        <h2>History Residents</h2>
        <!-- Residents Table -->
        <a th:href="@{/manager/resident/index}">Return to Resident Manager</a>
        <div align="center">
            <h2>History Residents</h2>
            <div>
        <!-- tìm kiếm -->
        <form th:action="@{/manager/history/resident/index}" method="get">
        <label for="keyword">Tìm kiếm:</label>
        <input type="text" id="keyword" name="keyword" th:value="${keyword}"/>
    
        <label for="startDate">Ngày bắt đầu:</label>
        <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>
    
        <label for="endDate">Ngày kết thúc:</label>
        <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>
    
        <button type="submit">Tìm kiếm</button>
        </form>
        </div>
        <table>
            <thead>
                <th>No Room</th>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Birth Place</th>
                <th>Job</th>
                <th>Phone Number</th>
                <th>Relationship with Owner</th>
                <th>Day In</th>
                <th>Day Out</th>
            </thead>
            <tbody>
                <th:block th:each="resident : ${listResident}">
                    <tr>
                        <th th:text="${resident.noRoom}"></th>
                        <th th:text="${resident.id}"></th>
                        <th th:text="${resident.name}"></th>
                        <th th:text="${resident.gender}"></th>
                        <th th:text="${resident.birthDate}"></th>
                        <th th:text="${resident.birthPlace}"></th>
                        <th th:text="${resident.job}"></th>
                        <th th:text="${resident.phoneNumber}"></th>
                        <th th:text="${resident.relationshipWithOwner}"></th>
                        <th th:text="${resident.dayIn}"></th>
                        <th th:text="${resident.dayOut}"></th>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div th:if="${totalPage > 0}" class="pagination">
            <!-- Link to the first page -->
            <a th:if="${currentPage > 1}" th:href="@{/manager/history/resident/index(pageNo=1, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">First</a>
        
            <!-- Link to the previous page -->
            <a th:if="${currentPage > 1}" th:href="@{/manager/history/resident/index(pageNo=${currentPage - 1}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Previous</a>
        
            <!-- Links to individual pages -->
            <span th:each="i : ${#numbers.sequence(1, totalPage)}">
                <a th:if="${currentPage != i}" th:href="@{/manager/history/resident/index(pageNo=${i}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}" th:text="${i}"></a>
                <span th:if="${currentPage == i}" th:text="${i}"></span>
            </span>
        
            <!-- Link to the next page -->
            <a th:if="${currentPage < totalPage}" th:href="@{/manager/history/resident/index(pageNo=${currentPage + 1}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Next</a>
        
            <!-- Link to the last page -->
            <a th:if="${currentPage < totalPage}" th:href="@{/manager/history/resident/index(pageNo=${totalPage}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Last</a>
        </div>
    </div>
</body>
</html>