<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div align = "center">
    <p>Welcome to my world</p>
    <a th:href="@{/manager/createRoom}">CreateRoom</a>
    <a th:href="@{/manager/fee/index}">Fees Manage</a>
    <div>&nbsp;</div>
    
    <div>
        <!-- tìm kiếm -->
        <form th:action="@{/manager/history/room/index}" method="get">
        <label for="keyword">Tìm kiếm:</label>
        <input type="text" id="keyword" name="keyword" th:value="${keyword}"/>
    
        <label for="startDate">Ngày bắt đầu:</label>
        <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>
    
        <label for="endDate">Ngày kết thúc:</label>
        <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>
    
        <button type="submit">Tìm kiếm</button>
        </form>
        </div>
    <div>&nbsp;</div>
    
    <table>
        <thead>
            <th>No Room</th>
            <th>ID Owner</th>
            <th>Name Owner</th>
            <th>Phone number Owner</th>
            <th>Key</th>
            <th>Day In</th>
            <th>Day Out</th>
            <th>Details</th>
        </thead>
        <tbody>
                <th:block th:each="Room : ${listRoomHistory}">
                <tr>
                    <th>[[${Room.noRoom}]]</th>
                    <th>[[${Room.idOwner}]]</th>
                    <th>[[${Room.nameOwner}]]</th>
                    <th>[[${Room.numberPhoneOwner}]]</th>
                    <th>[[${Room.key}]]</th>
                    <th>[[${Room.dayIn}]]</th>
                    <th>[[${Room.dayOut}]]</th>
                    <th><a th:href="@{'/manager/history/room/detail/' + ${Room.key}}">Detail</a></th>
                </tr>
            </th:block>
        
        </tbody>
    </table>
    <div th:if="${totalPage > 0}" class="pagination">
        <!-- Link to the first page -->
        <a th:if="${currentPage > 1}" th:href="@{/manager/history/room/index(pageNo=1, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">First</a>
    
        <!-- Link to the previous page -->
        <a th:if="${currentPage > 1}" th:href="@{/manager/history/room/index(pageNo=${currentPage - 1}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Previous</a>
    
        <!-- Links to individual pages -->
        <span th:each="i : ${#numbers.sequence(1, totalPage)}">
            <a th:if="${currentPage != i}" th:href="@{/manager/history/room/index(pageNo=${i}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}" th:text="${i}"></a>
            <span th:if="${currentPage == i}" th:text="${i}"></span>
        </span>
    
        <!-- Link to the next page -->
        <a th:if="${currentPage < totalPage}" th:href="@{/manager/history/room/index(pageNo=${currentPage + 1}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Next</a>
    
        <!-- Link to the last page -->
        <a th:if="${currentPage < totalPage}" th:href="@{/manager/history/room/index(pageNo=${totalPage}, keyword=${keyword}, startDate=${startDate}, endDate=${endDate})}">Last</a>
    </div>
    <!-- Đánh số trang -->
    

</body>
</html>