<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p2>Welcome to tue dep trai = "${noRoom}"</p2>

    <br>
    <a th:href="@{/manager/room/{noRoom}/addresident(noRoom=${noRoom})}">Add Resident</a>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Sex</th>
            <th>birthDate</th>
            <th>birthPlace</th>
            <th>job</th>
            <th>phoneNumber</th>
            <th>noRoom</th>
            <th>relationshipWithOwner</th>
            <th>Details</th>
        </thead>
        <tbody>
            <th:block th:each="Resident : ${listResidentRoom}">
                <tr>
                    <th>[[${Resident.id}]]</th>
                    <th>[[${Resident.name}]]</th>
                    <th>[[${Resident.gender}]]</th>
                    <th>[[${Resident.birthDate}]]</th>
                    <th>[[${Resident.birthPlace}]]</th>
                    <th>[[${Resident.job}]]</th>
                    <th>[[${Resident.phoneNumber}]]</th>
                    <th>[[${Resident.noRoom}]]</th>
                    <th>[[${Resident.relationshipWithOwner}]]</th>
                    <td><a th:href="@{/landing}">Edit</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>